﻿@using Todo.Web.Extensions
@model List<Todo.Common.Models.CategoryModel>
@{
    ViewBag.Title = "Todo Categories";
}

<h2>Categories</h2>

<div class="list-group">
    @foreach (var category in Model)
    {
        var className = string.Empty;
        switch (category.Id)
        {
            case 1:
                className = "fa fa-shopping-cart";
                break;
            case 2:
                className = "fa fa-wrench";
                break;
            case 3:
                className = "fa fa-child";
                break;
        }

        @Html.ImageActionLink(category.Title, className, "ItemList", "TodoList", new { id = category.Id })
    }
</div>
