﻿<div>
    Please select the style: @Html.DropDownList("StyleList")
</div>

@* Bonus *@

<div class="styleDetails">
    <div>
        <span class="title">Font</span>
        <span class="value" id="fontName" />
        (<span class="value" id="fontSize" />)
    </div>

    <div>
        <span class="title">Fore color</span>
        <div class="value color" id="foreColor" />
    </div>

    <div>
        <span class="title">Back color</span>
        <div class="value color" id="backColor" />
    </div>
</div>

<script>
    $(function () {
        $('#StyleList').change(function () {
            $.getJSON('/TodoList/GetStyleDetails', { id: $('#StyleList').val() }, function (data) {
                $('#fontName').html(data.FontName);
                $('#fontSize').html(data.FontSize);
                $('#foreColor').css('background-color', data.ForeColor);
                $('#backColor').css('background-color', data.BackColor);
            });
        }).trigger('change');
    });
</script>
