﻿@model Todo.Common.Models.TodoItemModel

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div>
    <h4>TodoItemModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Done)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Done)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>
    </dl>
</div>
<div class="clear navbar-link">
    @Html.ActionLink("Edit", "ItemEdit", new { id = Model.Id })
    @Html.ActionLink("Return to list", "ItemList", new { id = Model.CategoryId })
</div>