﻿@model Todo.Common.Models.TodoItemModel

@{
    ViewBag.Title = "ItemDisplay";
}

@*<h2>@Model.Title</h2>

    @Html.DisplayForModel()*@

<h2 style="background-color: @Model.Style.BackColor">@Model.Title</h2>

<div style="font-family:'@Model.Style.FontName';font-size:@(Model.Style.FontSize)px;color:@Model.Style.ForeColor">
    @Html.DisplayForModel()
</div>

<div class="clear navbar-link">
    @Html.ActionLink("Edit", "ItemEdit", new { id = Model.Id })
    @Html.ActionLink("Return to list", "ItemList", new { id = Model.CategoryId })
</div>