﻿@using Todo.Web.Extensions
@model Todo.Common.Models.TodoItemModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.CategoryId)
    @Html.HiddenFor(m => m.StyleId)

    @Html.ValidationSummary("Errors found:")

    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.EditorFor(m => m.Title, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.Title)
    </div>

    <div class="checkbox">
        @Html.LabelFor(m => m.Done)
        @Html.EditorFor(m => m.Done)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Quantity)
        @Html.EditorFor(m => m.Quantity, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.Quantity)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Priority)
        @Html.EditorFor(m => m.Priority, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DueDate)
        @Html.EditorFor(m => m.DueDate, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.DueDate)
    </div>

    if (!ViewContext.HttpContext.GetOverriddenBrowser().IsMobileDevice)
    {
        <div class="form-group">
            <button type="button" id="btnStyle" class="btn btn-info">Style</button>
            <div id="divStyle"></div>
        </div>
    }

    <button type="submit" class="btn btn-default">OK</button>
}

@section scripts
{
    <script>
        $(function () {
            $('#DueDate').datepicker();

            $('#btnStyle').click(function () {
                $.get(
                    '/TodoList/EditStyle',
                    { id: $('#StyleId').val() },
                    function (data) {
                        $('#divStyle').html(data).dialog({
                            modal: true,
                            width: 500,
                            buttons: {
                                Ok: function () {
                                    var id = $('#StyleList').val();
                                    $('#StyleId').val(id);
                                    $(this).dialog('close');
                                },
                                Cancel: function () {
                                    $(this).dialog('close');
                                }
                            }
                        });
                    });
            });
        });
    </script>
}
