﻿@model Todo.Common.Models.TodoListModel

@{
    ViewBag.Title = "ItemList";
}

<h2>@Model.Header</h2>

<div class="list-group">
    @foreach (var item in Model.TodoItems)
    {
        @Html.ActionLink(item.Title, "ItemDisplay", new { id = item.Id }, new { @class = "list-group-item" })
    }
</div>

@using (Html.BeginForm(new { action = "ChangeList" }))
{
    @Html.DropDownListFor(m => m.SelectedCategoryId, Model.CategorySelectList)
    <button type="submit" class="btn btn-default">Go</button>
}