﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* styles for display and editor */
.display-label, .editor-label {
    float: left;
    clear: left;
    width: 150px;
    font-weight: bold;
    margin: 3px;
}

.display-field, .editor-field {
    float: left;
    margin: 3px;
}

.clear {
    clear: both;
    padding-top: 10px;
}

/* Style details
----------------------------------------------------------*/

.styleDetails {
    border: 3px solid gray;
    margin-top: 10px;
    padding: 5px;
}

    .styleDetails .title {
        display: inline-block;
        width: 100px;
    }

    .styleDetails .color {
        display: inline-block;
        width: 30px;
        height: 30px;
        border: 1px dotted black;
    }

    .styleDetails div {
        vertical-align: middle;
    }

@media only screen and (max-width: 768px) {
    .navbar-brand {
        color: red !important;
    }
}
